<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
        <h1 class="font-weight-bold font-italic">PRODUCTO: {{producto.nombre}}</h1>
    </div>
    <div class="row justify-content-between align-items-center">
        <div class="col-md-5">
            <img class="img-fluid" src="http://localhost:3000/upload/productos/{{producto.img}}" alt="Card image cap">
            <hr>
        </div>
        <div class="col-md-5 pt-3">
            <h1 class="font-weight-bold">{{producto.nombre}}</h1>
            <hr>
            <p class="text-muted mt-2">$ {{producto.precio}}</p>
            <hr>
            <p class="m-0">Descripción del Producto:</p>
            <p class="text-muted">{{producto.descripcion}}</p>
            <hr>
            <p class="text-muted">cantidad: {{producto.stock}}</p>
            <input type="number" max="{{producto.stock}}" min="1" max="{{producto.stock}}" value="1"
                class="mb-2 cantidad-productos"><br>
            <span class="text-danger error-cantidad"></span>
            <button data-id="{{producto._id}}" class="btn btn-dark btn-block boton-agregar-producto">
                <i class="fas fa-cart-plus mr-2"></i>
                Agregar al carrito
            </button>
        </div>
    </div>
</div>