<div class="col-md-4 mt-3"> 
    <div id="{{_id}}" class="card mb-4 shadow-sm">
        <div class="card-header bg-transparent text-center" style="height: 250px;">
            <img class="card-img-top w-50" src="/img/{{imagen}}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{marca_id.marca}}</h5>
            <p class="card-text">{{modelo}}</p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <small class="text-muted">Precio: ${{precio}}</small>
            <a href="/ver/{{_id}}" class="btn btn-sm btn-primary">Ver Producto</a>
        </div>
    </div>
</div>